<section>
    <div class="container">
        <div class="contact-us">
            <div class="inner">
                <div class="get-in-touch">
                    <h2 class="head03">Get in touch</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                </div>
                <form class="contact-form">
                    <h2 class="head01">Contact Form</h2>
                    <div class="contact-result-row">
                        <div class="contact-result-col">
                            <label>Name <span>*</span></label>
                            <input type="text" value="" />
                        </div>
                        <div class="contact-result-col">
                            <label>Email Address <span>*</span></label>
                            <input type="text" value="" />
                        </div>
                    </div>
                    <div class="contact-result-row d-flex-col">
                        <label>Message <span>*</span></label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="contact-result-row d-none text-align-right">
                        <button class="btn-custom" type="button">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>